<h2><%= @employee.name %> </h2>

<h3> Current Projects </h3>

<% if @employee.projects.any? %>
  <ul>
    <% @employee.projects.each do |project| %>
      <li><%= project.title %></li>
    <% end %>
  </ul>
<% else %>
  <h4>This employee is not assigned to any projects.</h4>
<% end %>


<h3> Add Employee to Any of The Following Projects: </h3>
<% if @available_projects.any? %>
  <form action="/employees/<%= @employee.id() %>" method="post">
    <div class="form-group">
      <select name="project_id">
        <% @available_projects.each do |project| %>
          <option value="<%= project.id %>"><%= project.title %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="button btn-success">Add Project to Employee</button>
  </form>
<% else %>
  <h4>You are already assigned to every project. You must be a real workhorse </h4>
<% end %>
<p><a href="/employees/<%= @employee.id() %>/edit">Edit Employee</a></p>
<p><a href="/">Return to Home</a></p>
