<h2>Employee: <%= @employee.name %> </h2>

<h4>Current projects team member is working on:</h4>

<% if @employee.projects.any? %>
  <ul>
    <% @employee.projects.each do |project| %>
      <li><%= project.title %></li>
    <% end %>
  </ul>
<% else %>
  <p>This employee is not assigned to any projects.</p>
<% end %>


<h4>Add <%= @employee.name %> to any of these projects:</h4>
<% if @available_projects.any? %>
  <form action="/employees/<%= @employee.id() %>" method="post">
    <div class="form-group">
      <select name="project_id">
        <% @available_projects.each do |project| %>
          <option value="<%= project.id %>"><%= project.title %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="button btn-success">Add Project to Employee</button>
  </form>

<% else %>
  <h4>You are already assigned to every project. You must be a real workhorse.</h4>
<% end %>

<br>
<p><a href="/employees/<%= @employee.id() %>/edit">Edit Employee</a></p>
